//Copyright (C)2014-2026 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.02_SP1 (64-bit))
//Part Number: GW1NSR-LV4CQN48PC7/I6
//Device: GW1NSR-4C
//Created Time: Sat 06 27 11:25:50 2026

IO_LOC "data_out" 44;
IO_PORT "data_out" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fsclk1" 40;
IO_PORT "fsclk1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "bclk1" 39;
IO_PORT "bclk1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fsclk0" 43;
IO_PORT "fsclk0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "bclk0" 42;
IO_PORT "bclk0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "mclk0" 41;
IO_PORT "mclk0" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "data_in" 30;
IO_PORT "data_in" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC "resetn" 14;
IO_PORT "resetn" IO_TYPE=LVCMOS18 PULL_MODE=NONE PCI_CLAMP=OFF BANK_VCCIO=1.8;
IO_LOC "sample_sel" 15;
IO_PORT "sample_sel" IO_TYPE=LVCMOS18 PULL_MODE=NONE PCI_CLAMP=OFF BANK_VCCIO=1.8;
IO_LOC "clk_22_5792" 45;
IO_PORT "clk_22_5792" IO_TYPE=LVCMOS33 PULL_MODE=DOWN PCI_CLAMP=OFF BANK_VCCIO=3.3;
IO_LOC "clk_24_576" 33;
IO_PORT "clk_24_576" IO_TYPE=LVCMOS33 PULL_MODE=DOWN PCI_CLAMP=OFF BANK_VCCIO=3.3;
